asgiref
certifi
charset-normalizer
colorama
dateparser
distlib
Django
django-crispy-forms
django-rest-framework
djangorestframework
filelock
idna
joblib
MouseInfo
numpy
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dateutil
python-pptx
pytweening
pytz
regex
requests
six
sqlparse
threadpoolctl
tqdm
tzdata
tzlocal
urllib3
virtualenv
XlsxWriter
youtube-comment-downloader
